
.container {}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

.button {
    display:block;
    margin:10px;
    text-align: center;
    justify-content:center;
    width:auto;
    padding:25px;
    
}

.input {
    margin:25px;
    padding: 25px;
}

#weather-today {
    border: 2px solid black;
    margin:10px;
    padding: 10px;
}

#weather-today img {
    display: inline;
}
ul {
    list-style-type:none;
}

.forecast-card {
    background-color: rgb(8, 45, 100);
    color:white;
    margin: 5px;
    width:auto;
}

